In [18]:
import pandas as pd 
import requests
from pandas import json_normalize

1. THE THREE CELLS BELOW ARE API REQUESTS

In [19]:
response_API = requests.get('https://banks.data.fdic.gov/api/institutions?limit=10000&offset=0')
print(response_API.status_code)

200

In [20]:
response_API2 = requests.get('https://banks.data.fdic.gov/api/institutions?limit=10000&offset=10000')
print(response_API2.status_code)

200

In [21]:
response_API3 = requests.get('https://banks.data.fdic.gov/api/institutions?limit=10000&offset=20000')
print(response_API3.status_code)

200

In [22]:
data = response_API.json()
print(type(data))

<class 'dict'>

In [23]:
data2 = response_API2.json()
print(type(data2))

<class 'dict'>

In [24]:
data3 = response_API3.json()
print(type(data3))

<class 'dict'>

In [25]:
institution_df = json_normalize(data['data'])
#print(institution_df.head())
#institution_df.to_csv('inst.csv')

institution_df2 = json_normalize(data2['data'])
#print(institution_df2.head())
#institution_df2.to_csv('inst2.csv')

institution_df3 = json_normalize(data3['data'])
#print(institution_df3.head())
#institution_df3.to_csv('inst3.csv')

In [26]:
institution_df = institution_df.reindex(sorted(institution_df.columns), axis=1)
institution_df2 = institution_df2.reindex(sorted(institution_df2.columns), axis=1)
institution_df3 = institution_df3.reindex(sorted(institution_df3.columns), axis=1)

In [27]:
#full_df = institution_df.append(institution_df.append(institution_df3))
#.append is being deprecated - use .concat instead

In [28]:
full_data = [institution_df, institution_df2, institution_df3]
df = pd.concat(full_data)
df.columns = df.columns.str.lstrip("data.")
#df.to_csv('inst_full.csv')
print(df.shape)

(27816, 168)

2. HERE ARE THREE STATISTICS ABOUT THIS DATA

In [29]:
bank_count = len(df)
print("There are", bank_count, "institutuions with data on the FDIC's API.\n")

active = df['ACTIVE'].value_counts()[0]
print("There are", active, "active institutions registered with the FDIC.\n")

inactive = df['ACTIVE'].value_counts()[1]
print("There are", inactive, "inactive institutions registered with the FDIC.\n")

There are 27816 institutuions with data on the FDIC's API.

There are 23098 active institutions registered with the FDIC.

There are 4718 inactive institutions registered with the FDIC.

2. HERE ARE THREE MORE STATISTICS ABOUT THIS DATA

In [30]:
min = df["ASSET"].min()
max = df["ASSET"].max()
mean = df["ASSET"].mean().round(2)

print("The minimum assets held by an FDIC registered institution are ${} \n".format(min))
print("The maximum assets held by an FDIC registered institution are ${} \n".format(max))
print("The average assets held by an FDIC registered institution are ${} \n".format(mean))

The minimum assets held by an FDIC registered institution are $1.0

The maximum assets held by an FDIC registered institution are $3308575000.0

The average assets held by an FDIC registered institution are $1618986.53

3. HERE IS A QUERY

In [31]:
kc1_df = df.query("`ASSET` >= 610000 and `ASSET` <= 2610000")

4. HERE ARE THE SECOND AND THIRD COLUMNS OF THE NEW DF

In [32]:
print(kc1_df.iloc[:, [1, 2]])

                     ADDRESS ADDRESS2
1          201 N.E. A Street
9         524 Genesee Street
19    205 South Fifth Street
26     230 West State Street
32             130 S Main St
...                      ...      ...
7789          50 Franklin St
7791             102 W Front
7797   1100 Louisiana Street
7800          200 E Nopal St
7802        3000 Lee Highway

[2768 rows x 2 columns]

5. HERE ARE THE FIRST FOUR ROWS OF THE NEW DF

In [33]:
print(kc1_df.head(4))

    ACTIVE                 ADDRESS ADDRESS2      ASSET BKCLASS  CALLFORM CB  \
1        0       201 N.E. A Street            712714.0      SM      41.0  0
9        0      524 Genesee Street            711480.0      NM      32.0  0
19       0  205 South Fifth Street           2074657.0      NM      32.0  0
26       0   230 West State Street            632842.0       N      41.0  1

                                  CBSA   CBSA_DIV CBSA_DIV_FLG  ... ULTCERT  \
1   Fayetteville-Springdale-Rogers, AR                       0  ...    8728
9               Milwaukee-Waukesha, WI                       0  ...     628
19                     Springfield, IL                       0  ...    6548
26  Chicago-Naperville-Elgin, IL-IN-WI  Elgin, IL            1  ...    3832

   UNINUM WEBADDR    ZIP count score  CHANGEC12 CHANGEC13 CHANGEC14  CHANGEC15
1      80          72712   NaN     1        NaN       NaN       NaN        NaN
9    6399          53018   NaN     1        NaN       NaN       NaN        NaN
19   6408          62701   NaN     1        NaN       NaN       NaN        NaN
26   6414          60178   NaN     1        NaN       NaN       NaN        NaN

[4 rows x 168 columns]